In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/sample_submission.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/engine_metadata.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/site_metadata.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_141.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_202.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_26.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_165.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_124.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_178.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_33.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_49.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_79.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_158.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_44.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_128.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_137.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_87.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_38.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_22.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_125.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_203.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_207.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_184.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_142.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_30.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_57.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_134.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_197.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_46.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_177.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_58.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_160.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_21.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_77.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_183.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_119.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_120.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_108.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_59.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_180.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_32.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_171.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_69.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_127.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_19.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_109.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_155.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_107.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_101.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_135.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_210.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_195.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_47.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_14.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_147.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_118.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_98.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_9.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_52.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_143.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_190.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_84.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_209.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_18.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_53.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_73.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_186.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_63.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_70.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_90.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_17.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_7.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_152.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_144.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_67.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_175.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_81.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_86.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_105.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_179.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_11.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_201.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_191.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_145.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_212.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_185.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_102.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_166.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_104.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_110.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_182.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_91.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_192.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_176.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_36.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_168.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_95.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_37.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_40.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_194.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_66.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_211.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_117.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_122.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_130.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_196.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_204.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_131.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_159.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_172.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_133.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_199.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_94.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_24.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_146.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_170.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_100.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_208.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_16.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_187.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_161.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_193.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_106.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_76.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_28.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_200.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_20.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_72.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_154.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_189.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_206.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_78.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_157.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_31.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_162.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_174.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_103.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_93.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_150.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_80.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_139.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_92.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_85.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_74.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_181.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_169.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_10.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_6.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_1.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_48.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_126.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_164.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_99.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_75.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_56.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_173.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_129.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_167.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_111.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_34.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_4.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_60.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_43.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_156.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_65.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_153.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_2.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_42.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_198.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_115.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_51.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_12.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_132.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_45.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_25.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_64.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_83.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_188.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_205.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_62.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_27.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_71.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_163.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_8.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_138.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_39.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_23.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_121.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_112.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_35.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_89.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_54.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_41.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_97.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_113.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_50.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_96.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_140.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_5.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_148.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_82.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_213.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_136.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_13.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_68.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_3.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_55.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_149.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_15.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_88.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_114.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_116.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_151.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_61.csv
/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_29.csv

# Code for the Kaggle score leaderboard

## Load Data

In [2]:
# Load engine_metadata
engine_metadata = pd.read_csv("/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/engine_metadata.csv")

In [3]:
# Searching ancient wasp
engine_metadata["PLANT_NAME"].unique()

array(['SPIRITUAL-POLECAT', 'NIFTY-ROOK', 'PREHISTORIC-PETREL',
       'THERAPEUTIC-LIONFISH', 'ABORIGINAL-PICULET', 'CARMINE-REINDEER',
       'IDEALISTIC-DODO', 'ANCIENT-WASP', 'AQUAMARINE-KANGAROO',
       'RADIANT-STURGEON', 'CURIOUS-QUAIL', 'SILKY-WEASEL',
       'INDIGO-TAPIR', 'PERFECT-MACKEREL', 'ADORABLE-PANTHER',
       'CAREFUL-PHEASANT', 'PRECISE-POGONA', 'FIERY-BOBCAT',
       'BIPEDAL-UAKARI', 'LUSH-CHIPMUNK', 'HYPERSONIC-BULLDOG',
       'TUSCAN-CAPUCHIN', 'MUSTARD-PANDA', 'NIFTY-MULE',
       'TOURMALINE-MOUSE', 'ANNOYING-SPONGE', 'ROSE-KINGFISHER',
       'BEAUTIFUL-HIPPO', 'VORACIOUS-PARROT', 'STOIC-KOEL',
       'COBALT-CATFISH', 'CERULEAN-NAUTILUS', 'PRAGMATIC-MASTIFF',
       'RAPID-CARACARA', 'COBALT-MALKOHA', 'SAGE-PRAWN',
       'ANGELIC-REINDEER', 'INESCAPABLE-QUOKKA', 'DIDACTIC-HORNET',
       'SINGING-HONEYBEE', 'LOUD-OCELOT', 'LOUTISH-PANDA', 'ZIRCON-CAMEL',
       'GIGANTIC-EARWIG', 'PREMIUM-MOTH'], dtype=object)

In [4]:
# Searching for the data file
engine_metadata[(engine_metadata["PLANT_NAME"] == "ANCIENT-WASP") & (engine_metadata["ENGINE_ID"] == "ENGINE_3")]

   CUSTOMER_NAME    PLANT_NAME ENGINE_ID      FILE_ID
32          BUSY  ANCIENT-WASP  ENGINE_3  data_33.csv

In [5]:
# Loading Ancient_wasp file
Ancient_wasp_engine3 = pd.read_csv("/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_33.csv")

In [6]:
# viewing the dataframe
Ancient_wasp_engine3.head()

         Unnamed: 0    CMP_SPEED        POWER  FUEL_FLOW       CO2
0  01/01/2021 00:00  5589.869257  4900.793536   0.451669  1.229985
1  01/01/2021 01:00  5586.765793  4879.848427   0.450786  1.227582
2  01/01/2021 02:00  5599.140667  4902.774026   0.451686  1.230033
3  01/01/2021 03:00  5601.607464  4902.992111   0.451230  1.228792
4  01/01/2021 04:00  5573.922031  4878.853341   0.450572  1.227000

## Reviewing format for the deliverable

In [7]:
# loading the sample
sample_submission = pd.read_csv("/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/sample_submission.csv")

# seeing the end of the dataframe
sample_submission.tail()

        ID  HOURS
8756  8756   6624
8757  8757   6625
8758  8758   6626
8759  8759   6627
8760  8760   6628

# Creating the hour counter

ID is a list of numbers from 0 to 8760, it corresponds to the number of rows in the dataframe.

HOURS is an empty list where the number of hours will be added in ascending order.

In [8]:
ID = [i for i in range(8761)]
HOURS = []

### Loop to review all the rows that exist and add an hour to the HOURS list.

In [9]:
# loop through the number of rows
for i in ID:
    
    # Creating a try loop to stop the error that occurs from reaching the end of the dataframe
    try:
        
        # 0 when it is the first row
        if Ancient_wasp_engine3.index[i] == 0:
            HOURS.append(0)
        # we add 1 to the previous number in case the CMP_SPEED is greater than 0
        elif (Ancient_wasp_engine3.loc[i, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # If the number of CMP_SPEED is 0 we review the contiguous data, if they are different from 0 we add 1 to the previous number
        elif (Ancient_wasp_engine3.loc[i-1, "CMP_SPEED"] > 0) and (Ancient_wasp_engine3.loc[i, "CMP_SPEED"] == 0) and (Ancient_wasp_engine3.loc[i+1, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # When the number of CMP_SPEED is 0 and the neighbors are 0
        else:
            HOURS.append(HOURS[-1] + 0)
    
    # condition for the end of the dataframe when the value of CMP_SPEED is 0
    except KeyError:
        HOURS.append(HOURS[-1] + 0)

In [10]:
# sanity check of the total of hours
HOURS[8760]

6934

## Creating the deliverable dataframe

In [11]:
# empty dataframe to add deliverable columns
df = pd.DataFrame()

In [12]:
# adding the lists as columns to the dataframe
df["ID"] = ID
df["HOURS"] = HOURS

# using the ID column as an index
df = df.set_index("ID")

In [13]:
# saving it as csv
df.to_csv("hours_challenge.csv")

# Checking the operation of the hour meter

In [14]:
# joining the dataframes to see how the counter behaves
view = pd.concat([Ancient_wasp_engine3, df], axis=1)

Finding sections where CMP_SPEED changes from 0 to values greater than 0

In [15]:
# verifying that when it is 0 it does not increase the counter
view[view["CMP_SPEED"] == 0].head()

           Unnamed: 0  CMP_SPEED  POWER  FUEL_FLOW  CO2  HOURS
506  22/01/2021 02:00        0.0    NaN        NaN  NaN    505
507  22/01/2021 03:00        0.0    NaN        NaN  NaN    505
508  22/01/2021 04:00        0.0    NaN        NaN  NaN    505
509  22/01/2021 05:00        0.0    NaN        NaN  NaN    505
510  22/01/2021 06:00        0.0    NaN        NaN  NaN    505

In [16]:
# to see all rows
pd.set_option('display.max_rows', None)

In [17]:
# reviewing behavior on value change
view.iloc[495:530]

           Unnamed: 0     CMP_SPEED         POWER  FUEL_FLOW       CO2  HOURS
495  21/01/2021 15:00   5124.705362   4013.477362   0.413487  1.126008    495
496  21/01/2021 16:00   5105.505536   3992.349503   0.412962  1.124578    496
497  21/01/2021 17:00   5087.712927   3960.169250   0.411381  1.120273    497
498  21/01/2021 18:00   5097.181598   3954.176154   0.410678  1.118360    498
499  21/01/2021 19:00   5092.612539   3952.863582   0.411213  1.119816    499
500  21/01/2021 20:00   5088.938479   3961.875200   0.411914  1.121725    500
501  21/01/2021 21:00   5107.311761   3970.134777   0.411855  1.121564    501
502  21/01/2021 22:00   5120.505012   3987.924090   0.412709  1.123891    502
503  21/01/2021 23:00   5092.968057   3945.975558   0.410625  1.118216    503
504  22/01/2021 00:00   5102.613535   3956.523960   0.410913  1.118999    504
505  22/01/2021 01:00   5111.377174   3973.681457   0.412110  1.122260    505
506  22/01/2021 02:00      0.000000           NaN        NaN       NaN    505
507  22/01/2021 03:00      0.000000           NaN        NaN       NaN    505
508  22/01/2021 04:00      0.000000           NaN        NaN       NaN    505
509  22/01/2021 05:00      0.000000           NaN        NaN       NaN    505
510  22/01/2021 06:00      0.000000           NaN        NaN       NaN    505
511  22/01/2021 07:00      0.000000           NaN        NaN       NaN    505
512  22/01/2021 08:00      0.000000           NaN        NaN       NaN    505
513  22/01/2021 09:00      0.000000           NaN        NaN       NaN    505
514  22/01/2021 10:00      0.000000           NaN        NaN       NaN    505
515  22/01/2021 11:00      0.000000           NaN        NaN       NaN    505
516  22/01/2021 12:00      0.000000           NaN        NaN       NaN    505
517  22/01/2021 13:00      0.000000           NaN        NaN       NaN    505
518  22/01/2021 14:00      0.000000           NaN        NaN       NaN    505
519  22/01/2021 15:00  10000.000000  14100.841130   0.758612  2.065853    506
520  22/01/2021 16:00   9985.892822  14051.516100   0.757395  2.062539    507
521  22/01/2021 17:00   9987.365962  14117.459530   0.759942  2.069475    508
522  22/01/2021 18:00   9965.903959  13997.928270   0.756146  2.059138    509
523  22/01/2021 19:00   9978.622773  14039.489040   0.757603  2.063106    510
524  22/01/2021 20:00   9993.304831  14082.150140   0.757826  2.063714    511
525  22/01/2021 21:00  10000.000000  14138.197570   0.760497  2.070986    512
526  22/01/2021 22:00  10000.000000  14072.917150   0.758103  2.064468    513
527  22/01/2021 23:00   9981.511041  14056.247950   0.757163  2.061909    514
528  23/01/2021 00:00   9999.601969  14111.453250   0.758988  2.066878    515
529  23/01/2021 01:00   9967.330850  14067.630800   0.758639  2.065927    516

In [18]:
# verifying that when it is 0 it does not increase the counter
view.tail()

            Unnamed: 0  CMP_SPEED  POWER  FUEL_FLOW  CO2  HOURS
8756  31/12/2021 20:00        0.0    NaN        NaN  NaN   6934
8757  31/12/2021 21:00        0.0    NaN        NaN  NaN   6934
8758  31/12/2021 22:00        0.0    NaN        NaN  NaN   6934
8759  31/12/2021 23:00        0.0    NaN        NaN  NaN   6934
8760  01/01/2022 00:00        0.0    NaN        NaN  NaN   6934

# Testing

### Testing the code on a different turbine

In [19]:
# using a dataframe starting at 0
engine_metadata[(engine_metadata["PLANT_NAME"] == "MUSTARD-PANDA") & (engine_metadata["ENGINE_ID"] == "ENGINE_7")]

    CUSTOMER_NAME     PLANT_NAME ENGINE_ID       FILE_ID
108    IDEALISTIC  MUSTARD-PANDA  ENGINE_7  data_109.csv

In [20]:
# Loading dataframe
mustard_panda_engine7 = pd.read_csv("/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_109.csv")

In [21]:
# ID is a list of numbers from 0 to 8760, it corresponds to the number of rows in the dataframe.
ID = [i for i in range(8761)]

# HOURS is an empty list where the number of hours will be added in ascending order.
HOURS = []

In [22]:
# loop through the number of rows
for i in ID:
    
    # Creating a try loop to stop the error that occurs from reaching the end of the dataframe
    try:
        
        # 0 when it is the first row
        if mustard_panda_engine7.index[i] == 0:
            HOURS.append(0)
        # we add 1 to the previous number in case the CMP_SPEED is greater than 0
        elif (mustard_panda_engine7.loc[i, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # If the number of CMP_SPEED is 0 we review the contiguous data, if they are different from 0 we add 1 to the previous number
        elif (mustard_panda_engine7.loc[i-1, "CMP_SPEED"] > 0) and (mustard_panda_engine7.loc[i, "CMP_SPEED"] == 0) and (mustard_panda_engine7.loc[i+1, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # When the number of CMP_SPEED is 0 and the neighbors are 0
        else:
            HOURS.append(HOURS[-1] + 0)
    
    # condition for the end of the dataframe when the value of CMP_SPEED is 0
    except KeyError:
        HOURS.append(HOURS[-1] + 0)

In [23]:
# checking behavior on change from 0 to greater than 0
mustard_panda_engine7["HOURS"] = HOURS
mustard_panda_engine7[600:785]

                 Date     CMP_SPEED         POWER  FUEL_FLOW       CO2  HOURS
600  26/01/2021 00:00   4993.694589   4422.559028   0.466481  1.215371    582
601  26/01/2021 01:00   5016.758620   4460.933978   0.468902  1.221679    583
602  26/01/2021 02:00   5025.192677   4487.235173   0.469984  1.224498    584
603  26/01/2021 03:00   5018.028151   4455.748039   0.468528  1.220705    585
604  26/01/2021 04:00   5004.275026   4429.534439   0.466903  1.216472    586
605  26/01/2021 05:00   5008.962260   4430.832969   0.466891  1.216439    587
606  26/01/2021 06:00   5010.896084   4450.362270   0.467779  1.218753    588
607  26/01/2021 07:00   4982.217207   4403.884639   0.466320  1.214952    589
608  26/01/2021 08:00   4991.984203   4394.202974   0.465348  1.212421    590
609  26/01/2021 09:00   4995.899260   4402.475883   0.465797  1.213590    591
610  26/01/2021 10:00   5010.378782   4447.458206   0.468384  1.220331    592
611  26/01/2021 11:00   5005.664279   4435.740382   0.468159  1.219742    593
612  26/01/2021 12:00   5016.749909   4441.366026   0.467633  1.218374    594
613  26/01/2021 13:00   5012.285632   4452.354621   0.468568  1.220809    595
614  26/01/2021 14:00   4998.391605   4406.368864   0.465675  1.213271    596
615  26/01/2021 15:00   5009.156389   4419.239443   0.466867  1.216376    597
616  26/01/2021 16:00   5015.583918   4444.014191   0.468093  1.219571    598
617  26/01/2021 17:00   4988.327537   4383.196419   0.464885  1.211213    599
618  26/01/2021 18:00   4986.635342   4380.896485   0.464823  1.211053    600
619  26/01/2021 19:00   4978.172835   4371.401442   0.464731  1.210813    601
620  26/01/2021 20:00   4968.907890   4340.524250   0.463144  1.206677    602
621  26/01/2021 21:00   4976.326677   4363.988891   0.464759  1.210885    603
622  26/01/2021 22:00   4958.365647   4328.474222   0.463052  1.206437    604
623  26/01/2021 23:00   4954.706834   4317.212870   0.461918  1.203484    605
624  27/01/2021 00:00   4959.806641   4331.606911   0.463438  1.207445    606
625  27/01/2021 01:00   4973.647221   4345.499172   0.463186  1.206788    607
626  27/01/2021 02:00   4989.674773   4379.699191   0.466104  1.214389    608
627  27/01/2021 03:00   5015.752092   4414.113578   0.466931  1.216545    609
628  27/01/2021 04:00   4983.757577   4365.814208   0.464917  1.211298    610
629  27/01/2021 05:00   4981.457281   4353.960371   0.464805  1.211004    611
630  27/01/2021 06:00   4975.963943   4357.299925   0.464631  1.210551    612
631  27/01/2021 07:00      0.000000           NaN        NaN       NaN    612
632  27/01/2021 08:00      0.000000           NaN        NaN       NaN    612
633  27/01/2021 09:00      0.000000           NaN        NaN       NaN    612
634  27/01/2021 10:00      0.000000           NaN        NaN       NaN    612
635  27/01/2021 11:00      0.000000           NaN        NaN       NaN    612
636  27/01/2021 12:00      0.000000           NaN        NaN       NaN    612
637  27/01/2021 13:00      0.000000           NaN        NaN       NaN    612
638  27/01/2021 14:00      0.000000           NaN        NaN       NaN    612
639  27/01/2021 15:00      0.000000           NaN        NaN       NaN    612
640  27/01/2021 16:00      0.000000           NaN        NaN       NaN    612
641  27/01/2021 17:00      0.000000           NaN        NaN       NaN    612
642  27/01/2021 18:00      0.000000           NaN        NaN       NaN    612
643  27/01/2021 19:00      0.000000           NaN        NaN       NaN    612
644  27/01/2021 20:00      0.000000           NaN        NaN       NaN    612
645  27/01/2021 21:00      0.000000           NaN        NaN       NaN    612
646  27/01/2021 22:00      0.000000           NaN        NaN       NaN    612
647  27/01/2021 23:00      0.000000           NaN        NaN       NaN    612
648  28/01/2021 00:00      0.000000           NaN        NaN       NaN    612
649  28/01/2021 01:00      0.000000           NaN        NaN       NaN    612
650  28/01/2021 02:00      0.000000           NaN        NaN       NaN    612
651  28/01/2021 03:00      0.000000           NaN        NaN       NaN    612
652  28/01/2021 04:00      0.000000           NaN        NaN       NaN    612
653  28/01/2021 05:00      0.000000           NaN        NaN       NaN    612
654  28/01/2021 06:00      0.000000           NaN        NaN       NaN    612
655  28/01/2021 07:00      0.000000           NaN        NaN       NaN    612
656  28/01/2021 08:00      0.000000           NaN        NaN       NaN    612
657  28/01/2021 09:00      0.000000           NaN        NaN       NaN    612
658  28/01/2021 10:00      0.000000           NaN        NaN       NaN    612
659  28/01/2021 11:00      0.000000           NaN        NaN       NaN    612
660  28/01/2021 12:00      0.000000           NaN        NaN       NaN    612
661  28/01/2021 13:00      0.000000           NaN        NaN       NaN    612
662  28/01/2021 14:00      0.000000           NaN        NaN       NaN    612
663  28/01/2021 15:00      0.000000           NaN        NaN       NaN    612
664  28/01/2021 16:00      0.000000           NaN        NaN       NaN    612
665  28/01/2021 17:00      0.000000           NaN        NaN       NaN    612
666  28/01/2021 18:00      0.000000           NaN        NaN       NaN    612
667  28/01/2021 19:00      0.000000           NaN        NaN       NaN    612
668  28/01/2021 20:00      0.000000           NaN        NaN       NaN    612
669  28/01/2021 21:00      0.000000           NaN        NaN       NaN    612
670  28/01/2021 22:00      0.000000           NaN        NaN       NaN    612
671  28/01/2021 23:00      0.000000           NaN        NaN       NaN    612
672  29/01/2021 00:00      0.000000           NaN        NaN       NaN    612
673  29/01/2021 01:00      0.000000           NaN        NaN       NaN    612
674  29/01/2021 02:00      0.000000           NaN        NaN       NaN    612
675  29/01/2021 03:00      0.000000           NaN        NaN       NaN    612
676  29/01/2021 04:00      0.000000           NaN        NaN       NaN    612
677  29/01/2021 05:00      0.000000           NaN        NaN       NaN    612
678  29/01/2021 06:00      0.000000           NaN        NaN       NaN    612
679  29/01/2021 07:00      0.000000           NaN        NaN       NaN    612
680  29/01/2021 08:00      0.000000           NaN        NaN       NaN    612
681  29/01/2021 09:00      0.000000           NaN        NaN       NaN    612
682  29/01/2021 10:00      0.000000           NaN        NaN       NaN    612
683  29/01/2021 11:00      0.000000           NaN        NaN       NaN    612
684  29/01/2021 12:00      0.000000           NaN        NaN       NaN    612
685  29/01/2021 13:00      0.000000           NaN        NaN       NaN    612
686  29/01/2021 14:00      0.000000           NaN        NaN       NaN    612
687  29/01/2021 15:00      0.000000           NaN        NaN       NaN    612
688  29/01/2021 16:00      0.000000           NaN        NaN       NaN    612
689  29/01/2021 17:00      0.000000           NaN        NaN       NaN    612
690  29/01/2021 18:00      0.000000           NaN        NaN       NaN    612
691  29/01/2021 19:00      0.000000           NaN        NaN       NaN    612
692  29/01/2021 20:00      0.000000           NaN        NaN       NaN    612
693  29/01/2021 21:00      0.000000           NaN        NaN       NaN    612
694  29/01/2021 22:00      0.000000           NaN        NaN       NaN    612
695  29/01/2021 23:00      0.000000           NaN        NaN       NaN    612
696  30/01/2021 00:00      0.000000           NaN        NaN       NaN    612
697  30/01/2021 01:00      0.000000           NaN        NaN       NaN    612
698  30/01/2021 02:00      0.000000           NaN        NaN       NaN    612
699  30/01/2021 03:00      0.000000           NaN        NaN       NaN    612
700  30/01/2021 04:00      0.000000           NaN        NaN       NaN    612
701  30/01/2021 05:00      0.000000           NaN        NaN       NaN    612
702  30/01/2021 06:00      0.000000           NaN        NaN       NaN    612
703  30/01/2021 07:00      0.000000           NaN        NaN       NaN    612
704  30/01/2021 08:00      0.000000           NaN        NaN       NaN    612
705  30/01/2021 09:00      0.000000           NaN        NaN       NaN    612
706  30/01/2021 10:00      0.000000           NaN        NaN       NaN    612
707  30/01/2021 11:00      0.000000           NaN        NaN       NaN    612
708  30/01/2021 12:00      0.000000           NaN        NaN       NaN    612
709  30/01/2021 13:00      0.000000           NaN        NaN       NaN    612
710  30/01/2021 14:00      0.000000           NaN        NaN       NaN    612
711  30/01/2021 15:00      0.000000           NaN        NaN       NaN    612
712  30/01/2021 16:00      0.000000           NaN        NaN       NaN    612
713  30/01/2021 17:00      0.000000           NaN        NaN       NaN    612
714  30/01/2021 18:00      0.000000           NaN        NaN       NaN    612
715  30/01/2021 19:00      0.000000           NaN        NaN       NaN    612
716  30/01/2021 20:00      0.000000           NaN        NaN       NaN    612
717  30/01/2021 21:00      0.000000           NaN        NaN       NaN    612
718  30/01/2021 22:00      0.000000           NaN        NaN       NaN    612
719  30/01/2021 23:00      0.000000           NaN        NaN       NaN    612
720  31/01/2021 00:00      0.000000           NaN        NaN       NaN    612
721  31/01/2021 01:00      0.000000           NaN        NaN       NaN    612
722  31/01/2021 02:00      0.000000           NaN        NaN       NaN    612
723  31/01/2021 03:00      0.000000           NaN        NaN       NaN    612
724  31/01/2021 04:00      0.000000           NaN        NaN       NaN    612
725  31/01/2021 05:00      0.000000           NaN        NaN       NaN    612
726  31/01/2021 06:00      0.000000           NaN        NaN       NaN    612
727  31/01/2021 07:00      0.000000           NaN        NaN       NaN    612
728  31/01/2021 08:00      0.000000           NaN        NaN       NaN    612
729  31/01/2021 09:00      0.000000           NaN        NaN       NaN    612
730  31/01/2021 10:00      0.000000           NaN        NaN       NaN    612
731  31/01/2021 11:00      0.000000           NaN        NaN       NaN    612
732  31/01/2021 12:00      0.000000           NaN        NaN       NaN    612
733  31/01/2021 13:00      0.000000           NaN        NaN       NaN    612
734  31/01/2021 14:00      0.000000           NaN        NaN       NaN    612
735  31/01/2021 15:00      0.000000           NaN        NaN       NaN    612
736  31/01/2021 16:00      0.000000           NaN        NaN       NaN    612
737  31/01/2021 17:00      0.000000           NaN        NaN       NaN    612
738  31/01/2021 18:00      0.000000           NaN        NaN       NaN    612
739  31/01/2021 19:00      0.000000           NaN        NaN       NaN    612
740  31/01/2021 20:00      0.000000           NaN        NaN       NaN    612
741  31/01/2021 21:00      0.000000           NaN        NaN       NaN    612
742  31/01/2021 22:00      0.000000           NaN        NaN       NaN    612
743  31/01/2021 23:00      0.000000           NaN        NaN       NaN    612
744  01/02/2021 00:00      0.000000           NaN        NaN       NaN    612
745  01/02/2021 01:00      0.000000           NaN        NaN       NaN    612
746  01/02/2021 02:00      0.000000           NaN        NaN       NaN    612
747  01/02/2021 03:00      0.000000           NaN        NaN       NaN    612
748  01/02/2021 04:00      0.000000           NaN        NaN       NaN    612
749  01/02/2021 05:00      0.000000           NaN        NaN       NaN    612
750  01/02/2021 06:00      0.000000           NaN        NaN       NaN    612
751  01/02/2021 07:00      0.000000           NaN        NaN       NaN    612
752  01/02/2021 08:00      0.000000           NaN        NaN       NaN    612
753  01/02/2021 09:00      0.000000           NaN        NaN       NaN    612
754  01/02/2021 10:00      0.000000           NaN        NaN       NaN    612
755  01/02/2021 11:00      0.000000           NaN        NaN       NaN    612
756  01/02/2021 12:00      0.000000           NaN        NaN       NaN    612
757  01/02/2021 13:00      0.000000           NaN        NaN       NaN    612
758  01/02/2021 14:00      0.000000           NaN        NaN       NaN    612
759  01/02/2021 15:00      0.000000           NaN        NaN       NaN    612
760  01/02/2021 16:00      0.000000           NaN        NaN       NaN    612
761  01/02/2021 17:00      0.000000           NaN        NaN       NaN    612
762  01/02/2021 18:00      0.000000           NaN        NaN       NaN    612
763  01/02/2021 19:00      0.000000           NaN        NaN       NaN    612
764  01/02/2021 20:00      0.000000           NaN        NaN       NaN    612
765  01/02/2021 21:00      0.000000           NaN        NaN       NaN    612
766  01/02/2021 22:00      0.000000           NaN        NaN       NaN    612
767  01/02/2021 23:00      0.000000           NaN        NaN       NaN    612
768  02/02/2021 00:00      0.000000           NaN        NaN       NaN    612
769  02/02/2021 01:00      0.000000           NaN        NaN       NaN    612
770  02/02/2021 02:00      0.000000           NaN        NaN       NaN    612
771  02/02/2021 03:00      0.000000           NaN        NaN       NaN    612
772  02/02/2021 04:00      0.000000           NaN        NaN       NaN    612
773  02/02/2021 05:00      0.000000           NaN        NaN       NaN    612
774  02/02/2021 06:00      0.000000           NaN        NaN       NaN    612
775  02/02/2021 07:00      0.000000           NaN        NaN       NaN    612
776  02/02/2021 08:00      0.000000           NaN        NaN       NaN    612
777  02/02/2021 09:00      0.000000           NaN        NaN       NaN    612
778  02/02/2021 10:00  10000.000000  16236.213730   0.880849  2.294967    613
779  02/02/2021 11:00  10000.000000  16298.330050   0.883498  2.301870    614
780  02/02/2021 12:00   9995.033582  16230.725410   0.881086  2.295584    615
781  02/02/2021 13:00   9980.016158  16186.690690   0.879977  2.292697    616
782  02/02/2021 14:00   9974.278809  16179.641530   0.879863  2.292398    617
783  02/02/2021 15:00   9962.265110  16151.567650   0.880144  2.293132    618
784  02/02/2021 16:00   9943.623041  16072.025740   0.877837  2.287121    619

In [24]:
mustard_panda_engine7.head()

               Date  CMP_SPEED  POWER  FUEL_FLOW  CO2  HOURS
0  01/01/2021 00:00        0.0    NaN        NaN  NaN      0
1  01/01/2021 01:00        0.0    NaN        NaN  NaN      0
2  01/01/2021 02:00        0.0    NaN        NaN  NaN      0
3  01/01/2021 03:00        0.0    NaN        NaN  NaN      0
4  01/01/2021 04:00        0.0    NaN        NaN  NaN      0

# Simulating a missing value

In [25]:
# Loading dataframe
mustard_panda_engine7 = pd.read_csv("/kaggle/input/0db0ed38-868c-40d2-bcbd-bcedb88543cf/dataset/dataset/data_109.csv")

In [26]:
# middle
mustard_panda_engine7.loc[602, "CMP_SPEED"] = 0
mustard_panda_engine7.loc[607, "CMP_SPEED"] = 0

# last
mustard_panda_engine7.loc[8760, "CMP_SPEED"] = 0

In [27]:
# seeing the values 0, on 602 and 607
mustard_panda_engine7[600:610]

                 Date    CMP_SPEED        POWER  FUEL_FLOW       CO2
600  26/01/2021 00:00  4993.694589  4422.559028   0.466481  1.215371
601  26/01/2021 01:00  5016.758620  4460.933978   0.468902  1.221679
602  26/01/2021 02:00     0.000000  4487.235173   0.469984  1.224498
603  26/01/2021 03:00  5018.028151  4455.748039   0.468528  1.220705
604  26/01/2021 04:00  5004.275026  4429.534439   0.466903  1.216472
605  26/01/2021 05:00  5008.962260  4430.832969   0.466891  1.216439
606  26/01/2021 06:00  5010.896084  4450.362270   0.467779  1.218753
607  26/01/2021 07:00     0.000000  4403.884639   0.466320  1.214952
608  26/01/2021 08:00  4991.984203  4394.202974   0.465348  1.212421
609  26/01/2021 09:00  4995.899260  4402.475883   0.465797  1.213590

In [28]:
# ID is a list of numbers from 0 to 8760, it corresponds to the number of rows in the dataframe.
ID = [i for i in range(8761)]

# HOURS is an empty list where the number of hours will be added in ascending order.
HOURS = []

In [29]:
# loop through the number of rows
for i in ID:
    
    # Creating a try loop to stop the error that occurs from reaching the end of the dataframe
    try:
        
        # 0 when it is the first row
        if mustard_panda_engine7.index[i] == 0:
            HOURS.append(0)
        # we add 1 to the previous number in case the CMP_SPEED is greater than 0
        elif (mustard_panda_engine7.loc[i, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # If the number of CMP_SPEED is 0 we review the contiguous data, if they are different from 0 we add 1 to the previous number
        elif (mustard_panda_engine7.loc[i-1, "CMP_SPEED"] > 0) and (mustard_panda_engine7.loc[i, "CMP_SPEED"] == 0) and (mustard_panda_engine7.loc[i+1, "CMP_SPEED"] > 0):
            HOURS.append(HOURS[-1] + 1)
        
        # When the number of CMP_SPEED is 0 and the neighbors are 0
        else:
            HOURS.append(HOURS[-1] + 0)
    
    # condition for the end of the dataframe when the value of CMP_SPEED is 0
    except KeyError:
        HOURS.append(HOURS[-1] + 0)

## It works! Add an hour if it is 0 but the neighbors are greater than 0

In [30]:
# Checking that an hour is counted if it is 0 but the contiguous ones are greater than 0
mustard_panda_engine7["HOURS"] = HOURS
mustard_panda_engine7[600:610]

                 Date    CMP_SPEED        POWER  FUEL_FLOW       CO2  HOURS
600  26/01/2021 00:00  4993.694589  4422.559028   0.466481  1.215371    582
601  26/01/2021 01:00  5016.758620  4460.933978   0.468902  1.221679    583
602  26/01/2021 02:00     0.000000  4487.235173   0.469984  1.224498    584
603  26/01/2021 03:00  5018.028151  4455.748039   0.468528  1.220705    585
604  26/01/2021 04:00  5004.275026  4429.534439   0.466903  1.216472    586
605  26/01/2021 05:00  5008.962260  4430.832969   0.466891  1.216439    587
606  26/01/2021 06:00  5010.896084  4450.362270   0.467779  1.218753    588
607  26/01/2021 07:00     0.000000  4403.884639   0.466320  1.214952    589
608  26/01/2021 08:00  4991.984203  4394.202974   0.465348  1.212421    590
609  26/01/2021 09:00  4995.899260  4402.475883   0.465797  1.213590    591

In [31]:
# checking the behavior at the end
mustard_panda_engine7.tail()

                  Date    CMP_SPEED        POWER  FUEL_FLOW       CO2  HOURS
8756  31/12/2021 20:00  9292.454483  14465.32517   0.889583  2.317723   6238
8757  31/12/2021 21:00  9311.391116  14506.94822   0.891241  2.322043   6239
8758  31/12/2021 22:00  9313.375600  14539.40293   0.891970  2.323944   6240
8759  31/12/2021 23:00  9307.700094  14531.62839   0.892720  2.325897   6241
8760  01/01/2022 00:00     0.000000  14454.89350   0.889603  2.317776   6241

It works and for several cases, not only for the challenge

A function can be created so that by entering only the name of the plant and the type of engine, it can count hours